@import url("https://fonts.googleapis.com/css2?family=Karla");

/* The body class targets the <body> tag in your html file */
body {
  background-color: #ffe6fd;
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
  padding: 40px;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 16px;
  position: sticky;
  top: 0;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #ff87d5;
}

.content {
  padding: 40px;
}

p {
  color: purple;
}

.about-page {
  color: black;
}

img {
  width: 100px;
  height: auto;
}
